header{
    display:flex;
    justify-content: space-between;
    height: 100px;
    background-color: white;
    align-items: center;
    margin-top: auto;
padding: 30px;

}
.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    
    
}
.logo img{
    margin-right: 10px;
    display:flex;
}
body{
    background-color: cadetblue;
    margin: 0;
}

a{
    text-decoration: none;
    color:black
}

nav a{
    font-weight: 600;
    padding-right: 10px;

}
nav a:hover{
    color: coral;
}

.slider{
   width: 40%;
    margin:auto;
    overflow: hidden;
}
.slider ul{
    padding: 10px;
    display: flex;
    width: 500%;
    animation: cambio 20s infinite alternate;
    
}
.slider li{
    list-style: none;
    width: 100%;
}
.slider img{
    width: 100%;
}
@keyframes cambio{
    0%{ margin-left: 0%;}
    15%{ margin-left: 0%;}

    25%{ margin-left: -100%;}
    40%{ margin-left: -100%;}

    50%{ margin-left: -200%;}
    65%{ margin-left: -200%;}

    75%{ margin-left: -300%;}
    90%{ margin-left: -300%;}

     95%{ margin-left: -400%;}
    100%{ margin-left: -400%;}
}
/* //////////////INICIO FORMULARIO ROCIO///////////////// */
#formulario {

	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
	display: flex;
	flex-direction: column;
	gap: 10vh;
	
}

.form {
	display: flex;
	flex-direction: column;
	gap: 5vh;
	width: 60%;
}

.form .container {
	display: flex;
	flex-direction: column;
	font-size: 18px;
}

.form .container input {
	padding: 10px;
	border: none;
	border-bottom: 1px solid grey;
}

.enviar-btn {
	padding: 10px;
	width: 150px;
	background-color: rgb(244, 183, 72);
	border: 2px rgb(51, 255, 0) solid;
	border-radius: 5px;
	gap: 5vh;
}

.enviar-btn:hover {
	transition: ease-in-out;
	background-color: orange;
	border: 1px orange solid;

}
/* //////////////FIN FORMULARIO ROCIO///////////////// */
